.button {
  border: none;
  background-color: rgb(3, 3, 138);
  color: white;
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  width: fit-content;
}

.flex-container {
  display: flex;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 20px;
  flex-direction: row;
}

.styling {
  margin: 20px;
  width: 80%;
  border-style: none;
  padding: 20px;
  background-color: #ffffffd0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.border {
  border-style: solid;
  margin-top: 10px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 20px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.flex-index {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.indexstyling {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.index-contact {
  display: flex;
  justify-content: space-between;
}

.cv-flex {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(251, 221, 134);
  padding: 0 40px;
  float: none;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav ul li img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding-top: 7px;
  margin-left: 10px;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  font-weight: bolder;
}

nav ul li button {
  border-radius: 10px;
  border-style: none;
  padding: 7px;
  color: white;
  background-color: #111727;
  cursor: pointer;
}

.navright {
  margin-left: auto;
  display: flex;
  align-items: center;
} */

/* * {
  margin: 0;
  padding: 0;
} */

form text,
input,
textarea,
select {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-style: solid;
  box-shadow: 0.5px 0.5px 0.5px;
  border: 5px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 4px;
}

label {
  font-size: 20px;
  font-weight: bold;
}
textarea {
  resize: none;
  width: 100%;
  height: 100px;
}

form button {
  background-color: #0c0549fc;
  height: 40px;
  width: 100px;
  padding: 5px;
  float: right;
  color: white;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.form-style {
  width: 400px;
  margin: auto;
  padding: 50px;
}

.header1 {
  text-align: center;
  padding-top: 50px;
}

body {
  background-color: #c9c9c9;
}

.contact-border {
  border-style: solid;
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px;
  border: none;
  padding: 10px;
  margin: auto;
  margin-top: 75px;
  background-color: white;
}

.indexstyling .styling .flex-index p {
  padding-bottom: 10px;
}
