/* body {
  background-color: rgb(181, 185, 185);
} */

body {
  background-color: rgb(239, 239, 239);
}

.projectbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.projectName {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}

.projectName input {
  height: 25px;
  border-radius: 5px;
}

.date {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.startdate {
  display: flex;
  flex-direction: column;
}

.enddate {
  display: flex;
  flex-direction: column;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tech {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  border-radius: 5px;
  height: 100px;
}

.flexcheckbox {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

.uploadImage {
  display: flex;
  background-color: white;
  border-radius: 0.3rem;
}

.uploadImage label {
  display: inline-block;
  background-color: lightgrey;
  color: rgb(98, 98, 98);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: fit-content;
}

.submitbutton {
  width: 80px;
  border-radius: 20px;
  background-color: rgb(111, 111, 111);
  color: white;
  font-style: bold;
  float: right;
  height: 30px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* project list */

.headerpl {
  text-align: center;
}

.projectlist {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.project1 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px;
  width: 350px;
  margin: 25px;
  align-items: center;
}

.project1 img {
  width: 200px;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
}

.plbody {
  margin: 20px;
}

.ph {
  text-decoration: none;
  color: black;
}

.pltext {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
