<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand icon .thumbnail" href="/"><img
            src="/assets/img/brandred.png"
            style="width: 50px"
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-project">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonial">Testimonial</a>
            </li>
          </ul>
          <a href="/contact">
            <button type="button" class="btn btn-outline-secondary">Contact me</button>
          </a>
        </div>
      </div>
    </nav>

    <!-- Body -->
    <div class="container my-5">
      <h1 class="h1 text-center p-5 fw-bold">{{detail.projectname}}</h1>
      <div class="row mb-5">
        <div class="col-12 col-sm-7 d-md-flex">
          <img
            src="/assets/img/Dusun-bambu-lembang.jpg"
            class="rounded"
            style="height: 550px"
          />
        </div>
        <div class="col-md-4">
          <div>
            <h2 class="fw-bold">Created At</h2>
            <div class="duration">
              <div class="flexduration d-flex flex-row">
                <i class="fas fa-calendar" style="margin-right:15px"></i>
                <p>{{detail.createdAt}}</p>
              </div>
            </div>
            <h2 class="fw-bold">Duration</h2>
            <div class="duration">
              <div class="flexduration d-flex flex-row">
                <i class="fas fa-calendar" style="margin-right:15px"></i>
                <p>{{detail.duration}} Bulan</p>
              </div>
            </div>
          </div>
          <div>
            <h2 class="h2t">Technologies</h2>
            <div class="d-flex flex-row">
              {{#if detail.reactjs}}
                <div
                  class="flextechnologies2"
                  id="gaptechnologies"
                  style="margin-right: 50px"
                >
                  <i class="fab fa-react"></i>
                  <p>React JS</p>
                </div>
              {{/if}}
              {{#if detail.javascript}}
                <div class="flextechnologies2" id="gaptechnologies">
                  <i class="fab fa-js"></i>
                  <p>JavaScript</p>
                </div>
              {{/if}}
            </div>
            <div class="d-flex flex-row">
              {{#if detail.nodejs}}
                <div
                  class="flextechnologies2"
                  id="gaptechnologies"
                  style="margin-right: 50px"
                >
                  <i class="fab fa-node-js"></i>
                  <p>Node JS</p>
                </div>
              {{/if}}
              {{#if detail.android}}
                <div class="flextechnologies2" id="gaptechnologies">
                  <i class="fab fa-android"></i>
                  <p>Android</p>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <p class="text">
        {{detail.description}}
      </p>
    </div>
  </body>
  <script src="/assets/js/nav.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>